# Import some functions so R can check them during build
import(coda)
import(stats)
import(utils)
import(graphics)

# c212.BB
useDynLib(c212, .registration = TRUE)

# c212.BBa
export(c212.1a)

# c212.BB
export(c212.BB)

# c212.FDR
export(c212.BH)
#export(c212.FDR_adjusted_p_vals)
export(c212.BH.adjust.pvals)
export(c212.DFDR)
#export(c212.2FDR)
export(c212.GBH)
export(c212.ssBH)
export(c212.BONF)
export(c212.NOADJ)
export(c212.TST)
export(c212.LSL)

# c212.BB.utils
export(c212.plot.eot.data)
export(c212.plot.interim.data)
export(c212.plot.samples)
export(c212.convergence.diag)
export(c212.print.convergence.summary)
export(c212.ptheta)
export(c212.summary.stats)
export(c212.print.summary.stats)

# c212.misc
export(c212.fisher.test)
export(c212.bin.test)

# Interim Analyses
export(c212.interim.1a.hier2)
export(c212.interim.BB.hier2)
export(c212.interim.1a.hier3)
export(c212.interim.BB.hier3)
export(c212.interim.MLE)

export(c212.monitor.samples)
export(c212.pointmass.weights)
export(c212.sim.control.params)
export(c212.gen.initial.values)

# experimental
#export(c212.BB.convergence.diag_new)
#export(c212.interim.1a.dep.lev1.convergence.diag_new)
